<div class="container">
  <div class="screen">
    <div class="screen__content">
      <%= form_with(url: login_path, local: true, class: 'login') do |form| %>
        <div class="login__field">
          <i class="login__icon fas fa-user"></i>
          <%= form.text_field :nombre_usuario, class: 'login__input', placeholder: 'Nombre de Usuario' %>
        </div>
        <div class="login__field">
          <i class="login__icon fas fa-lock"></i>
          <%= form.password_field :password, class: 'login__input', placeholder: 'Contraseña' %>
        </div>
        <button class="button login__submit">
          <span class="button__text">Iniciar Sesión</span>
          <i class="button__icon fas fa-chevron-right"></i>
        </button>
      <% end %>
    </div>
    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape3"></span>    
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>    
  </div>
</div>