<h1>Editing project type</h1>

<%= render "form", project_type: @project_type %>

<br>

<div>
  <%= link_to "Show this project type", @project_type %> |
  <%= link_to "Back to project types", project_types_path %>
</div>
