<h1>Editing ubication</h1>

<%= render "form", ubication: @ubication %>

<br>

<div>
  <%= link_to "Show this ubication", @ubication %> |
  <%= link_to "Back to ubications", ubications_path %>
</div>
