<div id="<%= dom_id specific_state %>">
  <p>
    <strong>Nombre:</strong>
    <%= specific_state.nombre %>
  </p>

  <p>
    <strong>Ubicación:</strong>
    <%= specific_state.ubication.nombre %>
  </p>

</div>
