<h1>Editing specific state</h1>

<%= render "form", specific_state: @specific_state %>

<br>

<div>
  <%= link_to "Show this specific state", @specific_state %> |
  <%= link_to "Back to specific states", specific_states_path %>
</div>
